### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [137]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
raw_purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(raw_purchase_data)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [138]:
# Player Count

total_players = purchase_data["SN"].value_counts()
print(f"The total number of unique players is {total_players.count()}")

The total number of unique players is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [139]:
# Purchasing Analysis (Total)

unique_items = purchase_data["Item Name"].value_counts()
unique_items.count()

average_price = purchase_data["Price"].mean()
average_price

unique_purchases = purchase_data["Purchase ID"].value_counts()
unique_purchases.count()

total_revenue = purchase_data["Price"].sum()
total_revenue

summary_df = {
    "Number of Unique Items": [unique_items.count()],
    "Average Price": [average_price],
    "Number of Purchases": [round(unique_purchases.count(),1)],
    "Total Revenue": [total_revenue]
}

summary_table_df = pd.DataFrame(summary_df, columns=[
                        "Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

summary_table_df.head()
summary_table_df.style.format({'Average Price': "${:.3}", 'Total Revenue': '${:.6}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [140]:
# Gender Demographics

gender_count = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count.head()

gender_percentage = gender_count_df/576
gender_percentage

gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df})
gender_demographics_df.style.format({'Gender Percentage': "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [141]:
# Purchasing Analysis (Gender)

gender_purchases = purchase_data.groupby("Gender")["SN"].count()
gender_purchases.count()

gender_average = purchase_data.groupby("Gender")["Price"].mean()
gender_average.round(2)

gender_total = purchase_data.groupby("Gender")["Price"].sum()
gender_total

norm_gender_total = gender_total/gender_count
norm_gender_total.round(2)

gender_purchasing_analysis = pd.DataFrame({"Purchase Count":gender_purchases, 
                                   "Average Purchase Price":gender_average,
                                   "Total Purchase Value":gender_total,
                                   "Normalized Totals":norm_gender_total})
gender_purchasing_analysis
gender_purchasing_analysis.style.format({'Average Purchase Price': "${:.3}", 'Total Purchase Value': '${:.6}', 'Normalized Totals': '${:.3}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [142]:
# Age Demographics

bins = [0, 9, 14, 19, 24,29,34,39,100]
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

purchase_data_groupby = purchase_data.groupby(["SN","Age Group"])
purchase_data_unique_payers = pd.DataFrame(purchase_data_groupby.size())

purchase_data_groupby = pd.DataFrame(purchase_data_unique_payers.groupby(["Age Group"]).count())
purchase_data_groupby.columns= ["Total Count"]
purchase_data_groupby["Percentage of Players"] =round(purchase_data_groupby["Total Count"]/purchase_data_groupby["Total Count"].sum(),4)

purchase_data_groupby
purchase_data_groupby.style.format({'Percentage of Players': "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
# Purchasing Analysis (Age)
purchase_count_age = age_grouped["Purchase ID"].count()
 
avg_purchase_price_age = age_grouped["Price"].mean()
 
total_purchase_value = age_grouped["Price"].sum()

avg_purchase_ppa = total_purchase_value/total_count_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_ppa})

age_demographics.index.name = None

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [144]:
# Top Spenders

spender_stats = purchase_data.groupby("SN")

spender_purchase_count = spender_stats["Purchase ID"].count()

spender_avg_purchase_price = spender_stats["Price"].mean()

spender_purchase_total = spender_stats["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": spender_avg_purchase_price,
                             "Total Purchase Value": spender_purchase_total})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [145]:
# Most Popular Items

items = purchase_data[["Item ID", "Item Name", "Price"]]

item_stats = items.groupby(["Item ID","Item Name"])

item_purchase_count = item_stats["Price"].count()

item_purchase_value = (item_stats["Price"].sum()) 

item_price = item_purchase_value/item_purchase_count

most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value": item_purchase_value})

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [146]:
# Most Profitable Items

pop_form = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

pop_form.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})